__pycache__/
*.py[cod]
Proyecto/backend/media/
.env
*.log
.venv
migrations
# Pero sí versionar las de backend:
!backend/**/migrations/
!backend/**/migrations/*.py
Proyecto/backend/venv/
Proyecto/backend/.venv/
**/__pycache__/
*.py[cod]

# Media subida
Proyecto/backend/media/

# Frontend
Proyecto/gestion-tecnicos/node_modules/
Proyecto/gestion-tecnicos/.vite/

# Mantener migrations del backend
!Proyecto/backend/**/migrations/
!Proyecto/backend/**/migrations/*.py

# Permitir versionar migrations del backend
!Proyecto/backend/**/migrations/
!Proyecto/backend/**/migrations/*.py


.env.*
cookies.txt

Proyecto/cookies.txt
Proyecto/backend/cookies.txt
