__pycache__/
*.py[cod]
Proyecto/backend/media/
.env
*.log

# Frontend
Proyecto/gestion-tecnicos/node_modules/
Proyecto/gestion-tecnicos/.vite/
Proyecto/gestion-tecnicos/.env.local

# Varios
cookies*.txt
media/
Proyecto/backend/cookies*.txt
Proyecto/backend/media/
